.collapseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 200px 20px;
}
.collapse{
    margin: 5px;
}

.collapseTitle{
    background-color: #FF6060;    
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 15px 20px 15px 20px;
    position: relative;
    z-index: 2;
}
.collapseButton{
    position: relative;
    width: 24px;
    height: 13.71px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.collapseButton::before {
    position: absolute;
    transform: rotate(90deg);
}
   
.rotateBtn {
    transform: rotate(-180deg);
}
.collapseContent{
    color: #FF6060;
    background-color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.4s ease-in-out, height 0.3s ease-in-out, opacity 0.4s ease-in-out;
    transform: translateY(-40px);
    opacity: 0;
    height: 0;
    border-radius: 5px;
    font-size: 18px;    
    padding: 15px 20px 15px 20px;    
    ul {
        padding: 0;
    }
    li{
        list-style-type: none;
        margin-top: 5px;
    }
}
.collapseActive{
    opacity: 1;
    height: 80%;    
    transition: all 0.5s ease-in-out; 
    transform: translateY(0px);
    ul {
        padding: 0;
    }
    li{
        list-style-type: none;
        margin-top: 5px;
    }
}
.fallDescription {
    height: fit-content;
}

.collapseHousingCustom {
    width: 50%;
}